{% extends 'base.html.twig' %}

{% block title %}Register Open Parc{% endblock %}


{% block body %}
{% include 'common/header.html' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="col-md pt-5 lightprimary">
    <div class="pt-5 pb-5 mb-5 border">
        <h5 class='text-center'>Register</h5>
        {{ form_row(registrationForm) }}
    </div>
</div>

{% include 'common/footer.html' %}

{% endblock %}

