{% extends 'base.html.twig' %}

{% block title %}Register Open Parc{% endblock %}


{% block body %}
{% include 'common/header.html' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="col-md pt-5 lightprimary">
    <div class="pt-5 pb-5 mb-5 border exact center">
        {{ form_row(registrationForm) }}
        <button type='commit' class='btn button'>Register</button>
    </div>
</div>

<h5 class='titreT'>TERMS</h5>
<p class='terms'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

{% include 'common/footer.html' %}

{% endblock %}

