{% extends 'base.html.twig' %}

{% block title %}Register Open Parc{% endblock %}


{% block body %}
{% include 'common/header.html' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-md pt-5 lightprimary">
        <div class="pt-5 pb-5 mb-5 border">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm) }}
                <button type='commit' class='btn'>Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% include 'common/footer.html' %}

{% endblock %}

