{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
{% include 'common/header.html' %}

<div class="content">
    <div class="separator">
        <div>
            <span></span>
            <h4>#OpenParc</h4>
            <span></span>
        </div>
    </div>
</div>    

{% include 'common/footer.html' %}
{% endblock %}
