{% extends 'base.html.twig' %}

{% block title %}Accueil OpenParc!{% endblock %}

{% block body %}
{% include 'common/header.html' %}

<div class="first-container">
    <div class="row">
        <div class="col-md lightprimary">
            <div class="text-center mx-auto pt-5 pb-5">
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}
{% endblock %}
