{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title "Bienvenue dans l'interface d'administration" %}

{% block main %}
<div class="content">
    
</div>
{% endblock %}
