$background: #e96d07;
$primary: #c04414;
$lightprimary: #e96d07;
$verylightprimary: #ebba6c;

body{
    background-color: $background !important;
    color : white !important;
    min-height:100vh;
	display:flex;
	flex-direction:column;
}

.app{
    //min-height:calc(calc(100vh - 100px) - 56px);
    flex-grow:1;
}

.first-container{
    @extend .container;
}

.container {
    margin-left : 0% !important;
    margin-right : 0% !important;
    max-width: 100% !important;
}

.border {
    color : black;
    border: 1px white;
    background-color : $verylightprimary;
}

.navbar{    
    .navbar-brand{
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .nav-item, .dropdown-item{
        transition-duration: 0.3s;
    }
    .nav-item:hover{
        background-color: $lightprimary;
        border-radius: 7px;
    }
    .disabled{
        background-color: inherit;
        border-radius: inherit;
    }
}

#map { height: 100%; }

.separator {
    display:block;
    margin:auto;
    text-align: center;
}
.separator h4{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.separator span{
    display: inline-block;
    width:calc(50% - calc(155px / 2));
    background-color: #444444;
    border: 2px solid #444444;
    vertical-align: middle;
    border-radius: 2px;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px; 
    //line-height: 60px; 
    background-color: $primary;
}
.iut_logo{
    max-width: 100%;
    max-height: 100px;
    width:auto;
    @media (max-width: 576px) {
        display:none;
    }
}

//page tarifs
.bloc {
    width: 100px;
    height: 50px;
    border-color : white;
    border-width : 1px;
    color : white;
}

.bleu{
    background-color: blue;
}

.vert{
    background-color: green;
}

.orange{
    background-color: $primary;
}


//page register
.center {
    margin : auto;
}

.dim500{
    width: 80%;
    max-width: 650px;
}

#registration_form{
    label {
        margin-right : 10px;
        font-weight: normal !important;
        text-transform: none !important;
    }

    #registration_form_email{
        margin-left: 34px;
    }

    #registration_form_plainPassword{
        margin-left: 5px;
    }

    #registration_form_firstName{
        margin-left: -2px;
    }
}

.button {
    margin-left: 10%;
    border : 2px solid black !important;
}

.button:hover {
    color : white !important;
    background-color : $lightprimary;
}

label.required{
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.terms{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    text-align: justify;
}

.titreT{
    text-align: center;
}


//page login
#login_form {
    .logform{
        margin-left : 23%;
        margin-bottom: 13px;
    }

    .bold{
        font-weight: bold;
    }

    .margeEmail{
        margin-left : 40px;
    }

    .margePassword{
        margin-left : 12px;
    }
}

.btnlr {
    margin-left: 47%;
    border : 2px solid black !important;
    background-color : $lightprimary !important;
}

.btnlr:hover {
    color : black !important;
    background-color : $verylightprimary !important;
}

.panier{
    height: 50px;
    width : 50px;
}

form[name="ticket_reservation"]{
    margin-left: 10%;
    margin-right: 10%;
    @media (min-width: 810px) {
        margin-left: 25%;
        margin-right: 25%;
    } 
    #price{
        display: block !important;
        @extend label, .required;
    }
    #ticket_reservation_promoCode{
        width: 10em;
    }
    .ticket_reservation label {
        width: 7em;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 51px !important;
        height: 25px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    .slider:before {
        position: absolute;
        content: "";
        height: 21px;
        width: 21px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
        
    input:checked + .slider {
        background-color: $primary;
    }
        
    input:focus + .slider {
        box-shadow: 0 0 1px $primary;
    }
        
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
        
        /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
        
    .slider.round:before {
        border-radius: 50%;
    }
}

//page ticketing
#ticketing{
    display :flex;
    flex-wrap: wrap;
    /*align-items: center;
    flex-basis: auto;*/
    justify-content: space-evenly;
    .carré{
        width: 340px !important;
        height: 200px !important;
        margin: 1em;
        //margin-left: 100px;
    }
}



@import "./bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";