</div>
<footer class="footer">
    <div class="container ">
        <div class="row">
            <div class="col-sm text-center">
                <span class="font-weight-bold">
                    CPOA OpenPark 2022<br>
                </span>
                <span>
                    Lucas DANEYROLLE<br>
                    Rémy KOPP<br>
                    Thomas PUJOL
                </span>
            </div>
            <div class="col-sm text-center">
                <img src="/img/iut_logo.png" class="iut_logo" alt="IUT Lyon 1">
            </div>
        </div>
    </div>
</footer>