
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">Open Parc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/tarifs">Tarifs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/billetterie">Billetterie</a>
            </li>
            <!--li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li-->
            {% if app.user %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('account_show') }}">Mon compte</a>
                        <!--a class="dropdown-item" href="/register">S'identifier</a-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Se déconnecter</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">S'identifier</a>
                </li>
            {% endif %}
            <!--li class="nav-item disabled">
                <a class="nav-link disabled" href="/login">S'identifier</a>
            </li-->
        </ul>
        <!--form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Recherche">
            <button class="btn btn-outline-warning my-2 my-sm-0" style="color:black;" type="submit">Rechercher</button>
        </form-->
        <!-- <i class="panier fas fa-shopping-basket"></i> l'image du panier qui marche pas -->
    </div>
</nav> 
<div class="app">